<a href="https://colab.research.google.com/github/matfuerst/BTE-Matthew-Fuerst/blob/main/Final_In_Cass_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
r=5
pi=3.14
Area=pi*r**2
print(Area)

78.5

In [ ]:
r = 3 # radius of the cirlce
h = 10 # number pi
pi = 3.14 # height of cylinder

# Calculate surface area of cylinder
SA = 2*pi*r**2 + 2*pi*r*h

#Display area on the screen
print(SA)

244.92000000000002

In [ ]:
x="Hi"
type(x)

str

In [ ]:
'''
first line
second line
third line
...
'''

'\nfirst line\nsecond line\nthird line\n...\n'

In [ ]:
pi = 3.14
r = float((input("give a value for radius (in ft.): ")))

type(r)

give a value for radius (in ft.): 5

float

In [ ]:
# input
plyr_hand1 = str(input('Player 1 whats your move:  '))

plyr_hand2 = str(input('Player 2 whats your move:  '))


# process
if plyr_hand1 == 'rock' and plyr_hand2 == 'scissors' or plyr_hand1 == 'scissors' and plyr_hand2 == 'paper' or plyr_hand1 == 'paper' and plyr_hand2 == 'rock':
  print('Player 1 wins')
elif plyr_hand1 == 'rock' and plyr_hand2 == 'paper' or plyr_hand1 == 'scissors' and plyr_hand2 == 'rock' or plyr_hand1 == 'paper' and plyr_hand2 == 'scissors':
  print('Player 2 wins')
elif plyr_hand1 == plyer_hand2:
  print('Draw')

Player 1 whats your move:  scissors
Player 2 whats your move:  paper
Player 1 wins

In [ ]:
#In-class assignment
p1 = input("Choose R, P, S")
p2 = input("Choose R, P, S")

if p1 == p2:
  print("Draw")
elif p1 == "R" and p2 == "S" or p1 == "S" and p2 == "P" or p1 == "P" and p2 == "R":
  print("Player 1 wins")
else:
  print("Player 2 wins")

Choose R, P, SR
Choose R, P, SS
Player 1 wins

In [ ]:
n1 = float(input("Choose first number"))
n2 = float(input("Choose second number"))
symbol = input("Choose a symbol")
if symbol == "+":
  print(n1 + n2)
elif symbol == "-":
  print(n1 - n2)
elif symbol == "*":
  print(n1 * n2)
elif symbol == "/":
  print(n1 / n2)
else:
  print("Invalid symbol")

Choose first number8
Choose second number2
Choose a symbol-
6.0

In [ ]:
flat = 5

In [ ]:
for t in range(1, 9):
  charge = flat + 2.5 * t
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(t, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
ticket = 10 #In-Class assignment
fixed = 200
for ad in range(0, 201, 25):
  profit = 10 * (20 + 2 * round(ad ** .5)) - fixed - ad
  print(ad, profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
ticket = 10 #In-Class Assignment
fixed = 200
attendees = 20

ad = 0
while ad < 201:
  profit = 10 * (attendees + 2 * round(ad ** .5)) - fixed - ad
  print(ad, profit)
  ad = ad + 25

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
#first method
#start with empty list, ask users to provide numerical number,
#then this number will be added to the list. This proccess is repeated, until users enters 0
L = []
while True:
  num = float(input("Enter a number: "))
  L.append(num)
  print(L)
  if num == 0:
    break

Enter a number: 4
[4.0]
Enter a number: 5
[4.0, 5.0]
Enter a number: 6
[4.0, 5.0, 6.0]
Enter a number: 0
[4.0, 5.0, 6.0, 0.0]

In [ ]:
#second method
L = []

item = int(input('Give a value: '))
while item !=0:
  L.append(item)
  item = int(input('Give another value: '))
print(L)

Give a value: 4
Give another value: 6
Give another value: 2
Give another value: 9
Give another value: 0
[4, 6, 2, 9]

In [ ]:
months = {}

names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for i in range(len(numbers)):
  months[numbers[i]] = names[i]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [ ]:
def rv(s):
    if len(s) == 1:
        return s
    else:
        return s[-1] + rv(s[:len(s)-1])

rv('Hello')

'olleH'

In [ ]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number

s1 = Student("James Bond", "007")
s2 = Student('Clark Kent', '333')

s1.name

'James Bond'

In [ ]:
class Coordinate:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def distance(self, other):
    dist = ((self.x - other.x) ** 2 + (self.y - other.y) ** 2) ** 0.05
    return dist